h1,
h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-family: 'Montserrat', san-serif;
  font-weight: 800;
  font-size: 1.5em;
  letter-spacing: .07em;
}

h2 {
  font-size: 1.3em;
}