{{ "<!-- GENERIC_TEXTBLOCK -->" | safeHTML }}

{{ if .Params.parallax_img }}
    <div class="parallax-window" data-parallax="scroll" data-image-src="img/{{ .Params.parallax_img }}" data-natural-width="1400" data-natural-height="900"></div>
{{ end }}

<article class="bg-primary" id="textblock-{{ .Params.order }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ if .Content }}
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        {{ with .Content }}
                        <div class="project-category text-faded">
                            {{ . | markdownify }}
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</article>
