<div class="sidebar-wrapper">
    <aside>
        <section><h2>ja, ik wil het zeeleven beschermen tegen plasticgigant coca-cola.</h2>
            <figure class="counter">
                <div class="counter-progress"></div>
                <div class="counter-content">64.984 handtekeningen</div>
            </figure>
            <form action="thanks.html">
                <fieldset><input placeholder="Voornaam" type="text"> <input placeholder="E-mail" type="email">
                    <input placeholder="Telefoon (optioneel)" type="text"></fieldset>
                <fieldset class="form-optin">
                    <span><input id="optin" name="optin" value="0" type="checkbox"> </span><span><label for="optin" class="checkbox-label">Ja, ik teken de petitie om het zeeleven te beschermen tegen plasticgigant Coca-Cola en Greenpeace mag mij per email of telefonisch op de hoogte over de voortgang van deze plastic- en andere campagnes houden en hiervoor extra steun vragen.</label></span>
                </fieldset>
                <fieldset><input class="btn-primary" value="Teken nu" data-_extension-text-contrast="" type="submit">
                </fieldset>
            </form>
        </section>
        <section>
            <article><p>Aan: James Quincey, directeur Coca-Cola<br><br>Onze oceanen worden overspoeld door miljarden
                wegwerpflessen – groot én klein – zoals die van Coca-Cola. Al dat plastic bedreigt het zeeleven en komt
                via de voedselketen uiteindelijk ook op mijn bord terecht.<br><br>Coca-Cola produceert 110 miljard
                plastic wegwerpflessen per jaar. Omdat uw bedrijf zich wereldwijd fel verzet tegen goede oplossingen
                zoals statiegeld, houd ik Coca-Cola medeverantwoordelijk voor de plastic soep in onze oceanen.<br><br>Alleen
                samen kunnen we ervoor zorgen dat de plastic soep niet nóg groter wordt. Ik roep u daarom op om
                wegwerpplastic uit te faseren, te beginnen met meer recycling en hergebruik en door te investeren in
                alternatieven voor plastic.<br></p></article>
        </section>
    </aside>
</div>
