header {
  display: flex;
  flex-flow: row nowrap;

  figure {
    margin: $half-gutter;
  }

  img {
    max-height: 35px;
  }
}

@media screen and (min-width: $tablet) {
  header {
    figure {
      margin: $full-gutter;
    }

    img {
      max-height: 60px;
    }
  }
}